<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_mr_custom_root" name="Material Requisition"
              web_icon="material_requisition/static/description/icon.png"/>

    <menuitem id="menu_material_requisition"
              name="Material Requisition"
              parent="menu_mr_custom_root"
              action="action_material_requisition"
              sequence="10"/>

    <menuitem id="menu_material_request_approver"
              name="Material Request Approvers"
              parent="menu_mr_custom_root"
              action="action_material_request_approver"
              sequence="20"/>

    <menuitem id="menu_material_requisition_log"
              name="Material Request Logs"
              parent="menu_mr_custom_root"
              action="action_material_requisition_log"
              sequence="30"/>

    <menuitem id="menu_create_product_wizard"
              name="Create Sample Products"
              parent="menu_mr_custom_root"
              action="action_product_create_wizard"
              sequence="40"/>

</odoo>